.display-div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    padding: 10px;
    background-color: lightblue;
}

.card p{
    margin-right: 4px;
    font-size: 21px;
}

